.badgeNotification_badge {
    height: 100%;
    width: 100%;
}
/*located inside individual SVG files*/
.badgeNotification_badgeWrapper .badgeNotification_badgeBackground {
    display: none !important;
}
.badge-notification-message-body {
    height: 70vw;
    width: 98vw;
    overflow: hidden;
    position: absolute;
    top: -40px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.badge-notification-message {
    display: none;
}
.badge-notification-message-body:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    background: rgba(0, 16, 47, 0.8);
    left: 0;
    top: 0;
    z-index: 1000;
}
.badgeNotification_next {
    z-index: 999999;
    position: absolute;
    font-size: 50px !important;
    min-height: 105px;
    min-width: 175px;
    right: 0;
    left: 0;
    margin: auto !important;
    width: 15%;
    height: 10%;
    background: #fff;
    animation: 2000ms ease-in-out badgeNotification_genericPersistentBounceAnim 5;
}
.badgeNotification_pinkStar,
.badgeNotification_pinkStarLeft,
.badgeNotification_whiteStar,
.badgeNotification_whiteStarLeft,
.badgeNotification_blueStar,
.badgeNotification_blueStarLeft,
.badgeNotification_purpleStar,
.badgeNotification_purpleStarLeft,
.badgeNotification_greenStar,
.badgeNotification_greenStarLeft,
.badgeNotification_middleStar,
.badgeNotification_starBurst {
    height: 15%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 99999;
}
.badgeNotification_badgeText {
    height: 6%;
    position: absolute;
    top: -51%;
    left: 1%;
    bottom: 0;
    right: 0;
    margin: auto;
    transform-origin: 50% 120%;
    z-index: 999999999;
    animation: 	.8s 	.02s 	ease-in-out 	badgeNotification_genericBounceInAnim;
}
.badgeNotification_starBurst {
    background: url("./images/badgeNotification/starburst.svg") center center no-repeat;
    height: 0;
    padding-bottom: 41%;
    position: absolute;
    width: 41%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 999998;
    animation: 	.8s 	    ease-in-out 	badgeNotification_middleStarAnim    forwards,
    .84s	.8s	ease-in-out	    badgeNotification_genericPersistentBounceAnim 	 5;
}
.badgeNotification_middleStar {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffff42+1,ffff42+100&1+38,0+100 */
    background: radial-gradient(ellipse at center, rgba(255,255,66,1) 1%,rgba(255,255,66,1) 38%,rgba(255,255,66,0) 72%);
    height: 0;
    padding-bottom: 31%;
    position: absolute;
    width: 31%;
    top: 0;
    left: 0;
    opacity: 1;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 999999;
    animation: 	.8s 	    ease-in-out 	badgeNotification_middleStarAnim    forwards,
    .84s	.8s	ease-in-out	    badgeNotification_genericPersistentBounceAnim 	 5;
}
.badgeNotification_middleStar:after {
    content:"";
    display: block;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffff42+100&1+54,0+100 */
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,153,1) 54%,rgba(255,255,66,0) 100%);
    height: 41%;
    position: absolute;
    width: 41%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 999999;
}
.badgeNotification_badgeWrapper {
    height: 30%;
    width: 30%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: 50% 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    z-index: 99999999;
    animation: 	.8s 	.04s 	ease-in-out 	badgeNotification_genericBounceInAnim,
    .84s	.8s	    ease-in-out	    badgeNotification_genericPersistentBounceAnim   5;
}
@keyframes badgeNotification_middleStarAnim {
    0% {
        transform: scale(2.5);
    }
    50% {
        transform: scale(1);
    }
    65% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(1);
    }
    95% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}
.badgeNotification_whiteStar {
    background: url("./images/badgeNotification/whiteStar.svg") center center no-repeat;
    transform-origin: 40% 55%;
    animation: 	.6s 		ease-in-out  	badgeNotification_whiteStarAnim	    forwards;
}
@keyframes badgeNotification_whiteStarAnim {
    0%, 100% {
        transform: 	translate(10.2%, -1%)
        scale(1)
        rotate(28deg);
    }
    50% {
        transform: 	translate(10.2%, -1%)
        scale(1.5)
        rotate(28deg);
    }
}
.badgeNotification_whiteStarLeft {
    background: url("./images/badgeNotification/whiteStar.svg") center center no-repeat;
    transform-origin: 40% 55%;
    animation: 	.6s		ease-in-out  	badgeNotification_whiteStarLeftAnim		forwards;
}
@keyframes badgeNotification_whiteStarLeftAnim {
    0%, 100% {
        transform: 	translate(10.2%, -1%)
        scale(-1,1)
        rotate(28deg);
    }
    50% {
        transform: 	translate(10.2%, -1%)
        scale(-1.5,1.5)
        rotate(28deg);
    }
}
.badgeNotification_pinkStar {
    background: url("./images/badgeNotification/pinkStar.svg") center center no-repeat;
    transform-origin: 40.6% 47%;
    animation: 	.7s 			ease-in-out  	badgeNotification_pinkStarAnim		    forwards;
}
@keyframes badgeNotification_pinkStarAnim {
    0%, 100% {
        transform: 	translate(9%, 13%)
        scale(-1)
        rotate(176deg);
    }
    50% {
        transform: 	translate(9%, 13%)
        scale(-1.7)
        rotate(176deg);
    }
}
.badgeNotification_pinkStarLeft {
    background: url("./images/badgeNotification/pinkStar.svg") center center no-repeat;
    transform-origin: 40.6% 47%;
    animation: 	.7s 		ease-in-out  	badgeNotification_pinkStarLeftAnim		forwards;
}
@keyframes badgeNotification_pinkStarLeftAnim {
    0%, 100% {
        transform: 	translate(9.9%, 12%)
        scale(1, -1)
        rotate(175deg);
    }
    50% {
        transform: 	translate(9.9%, 12%)
        scale(1.7, -1.7)
        rotate(175deg);
    }
}
.badgeNotification_greenStar {
    background: url("./images/badgeNotification/greenStar.svg") center center no-repeat;
    transform-origin: 40% 55%;;
    animation: 	.5s		ease-in-out	badgeNotification_greenStarAnim		forwards;
}
@keyframes badgeNotification_greenStarAnim {
    0%, 100% {
        transform: 	translate(11%, 22%)
        scale(.9)
        rotate(-55deg);
    }
    50% {
        transform: 	translate(11%, 22%)
        scale(1.2)
        rotate(-55deg);
    }
}
.badgeNotification_greenStarLeft {
    background: url("./images/badgeNotification/greenStar.svg") center center no-repeat;
    transform-origin: 40% 55%;
    animation: 	.5s 			ease-in-out  badgeNotification_greenStarLeftAnim		forwards;
}
@keyframes badgeNotification_greenStarLeftAnim {
    0%, 100% {
        transform: 	translate(9.6%, 22%)
        scale(-.9, .9)
        rotate(-55deg);
    }
    50% {
        transform:	translate(9.6%, 22%)
        scale(-1.2, 1.2)
        rotate(-55deg);
    }
}
.badgeNotification_blueStar {
    background: url("./images/badgeNotification/blueStar.svg") center center no-repeat;
    transform-origin: 40% 55%;
    animation: 	.8s 				ease-in-out  	badgeNotification_blueStarAnim		forwards;
}
@keyframes badgeNotification_blueStarAnim {
    0%, 100% {
        transform: 	translate(10.7%, 0%)
        scale(1.15)
        rotate(14deg);
    }
    50% {
        transform: 	translate(10.7%, 0%)
        scale(1.65)
        rotate(14deg);
    }
}
.badgeNotification_blueStarLeft {
    background: url("./images/badgeNotification/blueStar.svg") center center no-repeat;
    transform-origin: 40% 55%;
    animation: 	.8s 				ease-in-out  badgeNotification_blueStarLeftAnim		forwards;
}
@keyframes badgeNotification_blueStarLeftAnim {
    0%, 100% {
        transform: 	translate(9.9%, 0%)
        scale(-1.15, 1.15)
        rotate(14deg);
    }
    50% {
        transform: 	translate(9.9%, 0%)
        scale(-1.65, 1.65)
        rotate(14deg);
    }
}
.badgeNotification_purpleStar {
    background: url("./images/badgeNotification/purpleStar.svg") center center no-repeat;
    transform-origin: 40% 55%;
    animation: 	.84s 				ease-in-out	badgeNotification_purpleStarAnim		forwards;
}
@keyframes badgeNotification_purpleStarAnim {
    0%, 100% {
        transform: 	translate(11%, 22%)
        scale(1.2)
        rotate(-26deg);
    }
    50% {
        transform: 	translate(11%, 22%)
        scale(1.7)
        rotate(-26deg);
    }
}
.badgeNotification_purpleStarLeft {
    background: url("./images/badgeNotification/purpleStar.svg") center center no-repeat;
    transform-origin: 40% 55%;
    animation: 	.84s 			ease-in-out  	badgeNotification_purpleStarLeftAnim		forwards;
}
@keyframes badgeNotification_purpleStarLeftAnim {
    0%, 100% {
        transform: 	translate(10%, 22%)
        scale(-1.2, 1.2)
        rotate(-26deg);
    }
    50% {
        transform: 	translate(10%, 22%)
        scale(-1.7, 1.7)
        rotate(-26deg);
    }
}
@keyframes badgeNotification_genericPersistentBounceAnimAnim {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
@keyframes badgeNotification_genericBounceInAnim {
    0% {
        transform: scale(2.5);
    }
    50% {
        transform: scale(1);
    }
    65% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(1);
    }
    95% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

.next_button {
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-weight: 400;
    background: #DE006B;
    text-decoration: none;
    transition: all 100ms ease-out;
}
.next_button:hover {
    background: #fff;
    color: #DE006B;
    border: 2px solid #DE006B;
    transform: scale(1.2);
}
.next_button:hover .iconArrow {
    fill: #DE006B;
}