<div class="container-fluid d-flex flex-lg-column align-items-lg-center mt-3 mb-3">
  <h1>Reward Card System @ LAZ By Hubert Hung</h1>
  <div class="container-fluid d-flex flex-lg-row justify-content-lg-center">
    <div class="col-lg-2">
      <a href="./">
        Home
      </a>
    </div>
    <div class="col-lg-2">
      <a href="./generate">
        Generate Reward Cards
      </a>
    </div>
    <div class="col-lg-2">
      <a href="./redeem">
        Redeem Reward Cards
      </a>
    </div>
    <div class="col-lg-2">
      <a href="https://github.com/hubert322/reward-card-system" target="_blank">
        Code Repository
      </a>
    </div>
  </div>
</div>